<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="DBMS" value="MsSql2012"/>
    <add key="DBAction" value="Validate"/>
    <add key="ShowSQL" value="true"/>
    <add key="ScriptFileFullName" value="App_Data\Log\NH_DB.txt" />

  </appSettings>

  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=localhost;Database=MetroAgora;Uid=metroagora;Pwd=123;" />
  </connectionStrings>
  
  <system.web>
    <globalization uiCulture="pt-BR" culture="pt-BR" />

    <customErrors mode="Off" />
    
    <httpRuntime targetFramework="4.5" />
    
    <compilation debug="true" targetFramework="4.5" batch="false" />
    
    <pages>
      <namespaces>
        <add namespace="System" />
        <add namespace="System.Linq" />
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="LF.MVC.Helpers.Extensions"/>
        <add namespace="LF.MVC.Helpers.EditorFor"/>
        <add namespace="LF.MVC.Helpers.Views"/>
        <add namespace="Resources"/>
      </namespaces>
    </pages>
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
    </modules>
  </system.webServer>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="inspirasmtp@gmail.com">
        <network enableSsl="true" host="smtp.gmail.com" userName="inspirasmtp@gmail.com" password="Inspira_123" />
      </smtp>
    </mailSettings>
  </system.net>
  
</configuration>