@model NewOccurrenceModel

@section Style{
    <link rel="stylesheet" type="text/css" href="~/Assets/Styles/Login/login.css" />
}

<div class="text-center">
    <h1>
        Pronto!
        <small>Ocorrência cadastrada com sucesso</small>
    </h1>

    <p>
        <a href="@Url.Action("Index", "Station", new { id = Model.StationId })" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
            Voltar a página de Ocorrências
        </a>

    </p>
</div>