@model NewOccurrenceModel

@{
    ViewBag.Title = "Create";
}

@section BotaoFooter {
    <a href="@Url.Action("Index", "Station", new { id = Model.Station.ID })" title="Voltar para Linhas" class="pull-left btn btn-default">
        <i class="fa fa-chevron-left"></i> @Model.Station.Line.Name: @Model.Station.Name
    </a>
}
@Html.Partial("CreateOccurrence")
