@model NewOccurrenceModel

@using (Html.BeginForm()) { 
    <div class="row">
        <div class="form-group col-sm-6">
            @Html.LabelFor(m => m.Description)
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        </div>
        <div class="form-group col-sm-6">
            @Html.LabelFor(m => m.Category)
            @Html.TextBoxFor(m => m.Category, new { @class = "form-control" })
        </div>
        <div>
            <button type="submit" class="btn btn-default pull-right">
                <i class="glyphicon glyphicon-floppy-disk"></i>
                Criar
            </button>
        </div>
    </div>
}