@model UsersCreateModel
@{
    ViewBag.Title = "Create";
}

<h2>Novo usuário</h2>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="form-group col-sm-6">
            @Html.LabelFor(m => m.Username)
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
        </div>
        <div class="form-group col-sm-6">
            @Html.LabelFor(m => m.Password)
            @Html.TextBoxFor(m => m.Password)
        </div>
        <div>
            <button type="submit" class="btn btn-default pull-right">
                <i class="glyphicon glyphicon-floppy-disk"></i>
                Criar
            </button>
        </div>
    </div>
}