@model BaseModel

@section Style{
    <link rel="stylesheet" type="text/css" href="~/Assets/Styles/Login/login.css" />
}
<div class="row">

    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><strong>@Common.ForgotPassword</strong></h3></div>
            <div class="panel-body">
                <div class="form-group">
                    @Common.ForgotPasswordSuccess
                </div>
            </div>
        </div>
    </div>
</div>