@model BaseModel

@section Style{
    <link rel="stylesheet" type="text/css" href="~/Assets/Styles/Login/login.css" />
}

<div class="text-center">
    <h1>
        Pronto!
    </h1>

    <p>@Common.ForgotPasswordSuccess</p>

    <p>
        <a href="@Url.Action("Login", "Users")" class="btn btn-primary">
            <i class="fa fa-user"></i>
            Ir para a tela de login
        </a>

    </p>
</div>