@model LineModel
@{
    ViewBag.Title = "Index";
}

<h2>@Model.Line.Name</h2>

<ul>
    @foreach (var station in Model.Stations)
    {
        <li>
            <a href="@Url.Action("Index", "Station", new { id = station.ID })">@station.Name</a>
            
        </li>
    }
</ul>