 .site-title {
    color: #C8C8C8;
    font-family: Rockwell,Consolas,"Courier New",Courier,monospace;
    font-size: 2.3em;
    margin: 10px 20px;
}

header .content-wrapper{
    position: relative;
    height: 121px;
}
