@model LineModel
@{
    Layout = "../Shared/LayoutWell.cshtml";
}

<h1>Metrô Agora</h1>

@foreach(var line in Model.AllLines)
{
    var numeroDeOcorrencias = Model.LineOccurrences.Count();
    var statusDaLinha = numeroDeOcorrencias < 5? "Normal" : numeroDeOcorrencias < 10? "Com problemas" : "Ruim";  
    
    <a href="@Url.Action("Index", "Line")">@line.Name</a>
    <strong>@statusDaLinha</strong>
    
}