@model LineModel
@{
    Layout = "../Shared/Master.cshtml";
}

@section Style {
<link href="~/Assets/Styles/linhas.css" rel="stylesheet" />
}
<h1>
    Status das linhas
    <small>selecione uma linha para visualizar as estações</small>
</h1>

<ul class="list-unstyled linhas">

    @foreach (var line in Model.AllLines)
    {
        var numeroDeOcorrencias = Model.LineOccurrences.Count();
        var statusDaLinha = numeroDeOcorrencias < 5 ? "Normal" : numeroDeOcorrencias < 10 ? "Com problemas" : "Ruim";
        var classeStatus = @statusDaLinha.ToLower().Replace(" ", "");

        <li>
            <a href="@Url.Action("Index", "Line")" class="btn btn-default btn-linha-1-azul" title="1 - Azul">1 - Azul</a>
            <small class="@classeStatus"><i class="glyphicon glyphicon-remove-sign"></i> @statusDaLinha</small>
        </li>
    }
</ul>
